<app-header></app-header>


<!--<h3>Welcome to {{ hotelName }} Hotel</h3>-->
<div [hidden]="hideRooms">
  <h5>Number of Rooms</h5>
  <div [innerText]="numRooms"></div>
</div>

<button (click)="toggle()">Show Availabe</button>

<div *ngIf="rooms.availableRooms > 0">
  <!--app-rooms-list is a independent component [rooms] is the @Input property we created to bring to that component the RoomList interface, then the property roomList is fetched from rooms component.ts-->
  <!--we implement the event created in room-list-component(selectedRoom) and we give it a local method to be called, that method takes a parameter $event which is the event that is received from the child component-->
  <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)"></app-rooms-list>
</div>


<div >
  <button (click)="addRoom()">Add Room</button>
</div>




<div *ngIf="selectedRoom">
{{selectedRoom | json}}
</div>
